---
name: Contract Build & Attestation
on:
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  attestations: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: rustup update
      - run: rustup target add wasm32v1-none
      - run: cargo version

      - name: Set up env vars
        run: |
          echo "WASM_FILE=contracts/target/wasm32v1-none/release/web_auth.wasm" >> $GITHUB_ENV

      - uses: stellar/stellar-cli@v23.3.0
        with:
          version: 23.3.0

      - name: Build contract
        working-directory: contracts
        run: |
          stellar contract build \
            --meta source_repo=github:${{ github.repository }}

          stellar contract optimize --wasm target/wasm32v1-none/release/web_auth.wasm
          cp target/wasm32v1-none/release/web_auth.optimized.wasm target/wasm32v1-none/release/web_auth.wasm

      - name: Upload to Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web_auth.wasm
          path: ${{ env.WASM_FILE }}

      - name: Build Attestation for Release
        uses: actions/attest-build-provenance@v1
        with:
          subject-name: web_auth.wasm
          subject-path: ${{ env.WASM_FILE }}
